<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/css/uikit.min.css" />
</head>
<body>

    <nav th:fragment="navbar" class="uk-navbar-container uk-margin" uk-navbar="">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <div><a href="/">Home</a></div>
            </div>
            <div class="uk-navbar-item">
                <div><a href="/posts">Posts</a></div>
            </div>
            <div class="uk-navbar-item">
                <div><a href="/posts/create">Create Post</a></div>
            </div>
        </div>
    </nav>


    <footer th:fragment="footer">

    </footer>
    <span th:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-icons.min.js"></script>
    </span>
</body>
</html>